<!-- Formulario para agregar nuevo producto -->


  
<div style="min-width: 350px; display: flex; justify-content: center; align-items: center; align-self: center;padding: 15px;">

    <div class="p-fluid card">
      <h3>Añadir Producto</h3>
      <div class="field">
        <label for="name">Nombre</label>
        <input id="name" [(ngModel)]="newProduct.name" pInputText />
      </div>
      <div class="field">
        <label for="price">Precio</label>
        <input id="price" [(ngModel)]="newProduct.price" pInputText type="number" />
      </div>
      <div class="field">
        <label for="description">Descripción</label>
        <input id="description" [(ngModel)]="newProduct.description" pInputText />
      </div>
      <div class="field">
        <label for="stock">Stock</label>
        <input id="stock" [(ngModel)]="newProduct.stock" pInputText type="number" />
      </div>
      <button (click)="addProduct()" pButton label="Agregar Producto" class="p-button-success"></button>
    </div>
</div>

  <!-- Tabla de productos -->
  <div style="min-width: 350px; display: flex; justify-content: center; align-items: center; align-self: center;padding: 15px;">

    <div class="card">
      <p-toast></p-toast>
      <p-table [value]="products" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]" dataKey="id"
        editMode="row" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
          <tr>
            <th style="width:20%">ID</th> <!-- Cambiado a ID -->
            <th style="width:20%">Nombre</th>
            <th style="width:20%">Descripción</th> <!-- Añadido Descripción -->
            <th style="width:20%">Precio</th>
            <th style="width:20%">Stock</th> <!-- Cambiado a Stock -->
            <th style="width:20%"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="product">
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="product.id" disabled />
                  <!-- ID visible pero no editable -->
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.id}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="product.name" required />
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.name}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="text" [(ngModel)]="product.description" /> <!-- Descripción -->
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.description}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="number" [(ngModel)]="product.price" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.price | currency: 'USD'}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <input pInputText type="number" [(ngModel)]="product.stock" /> <!-- Stock -->
                </ng-template>
                <ng-template pTemplate="output">
                  {{product.stock}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <div class="flex align-items-center justify-content-center gap-2">

                <p-button *ngIf="!editing" pInitEditableRow value="Edit"
                  (click)="onRowEditInit(product)" class="p-button-rounded p-button-text" [rounded]="true"  [outlined]="true" > Editar </p-button> 

                <p-button *ngIf="editing" [rounded]="true"  [outlined]="true" pSaveEditableRow value="Save"
                  (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success mr-2" > guardar </p-button> 
                  
                  <p-button [rounded]="true"  [outlined]="true" type="button" icon="pi pi-trash" (click)="deleteProduct(product)" class="p-button-rounded p-button-danger" 
                  label="Eliminar"></p-button>
                  
                <p-button *ngIf="editing" [rounded]="true"  [outlined]="true" pCancelEditableRow value="Cancel"
                  (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger" > cancelar</p-button> 

              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>


